{% extends 'base.html.twig' %}

{% block title %}Fitnow{% endblock %}
    {% block body %}
        <style>
            h1{
                letter-spacing: 0cm;
            }
        </style>
        <h1>FitNow  -  POLITIQUE D’UTILISATION DES COOKIES </h1>
        <hr>

        <div>
            Un cookie est un petit fichier alphanumérique qui est déposé sur le Terminal (l’ordinateur, smartphone, la tablette, le mobile, etc.) de l'utilisateur, lors de sa navigation sur le Site.
        <br>
            Avant de déposer ou lire un cookie qui n'est pas nécessaire à la fourniture d'un service, les éditeurs de Sites internet doivent :
            <ul>
                <li>informer l’Utilisateur de la finalité des cookies ;</li>
                <li>obtenir le consentement de l’Utilisateur ;</li>
                <li>fournir un moyen à l'utilisateur de les refuser.</li>
            </ul>
        <br>
        La durée de validité de ce consentement est de treize (13) mois.
        <br>
        Certains cookies sont cependant dispensés du recueil du consentement, notamment ceux qui sont strictement nécessaires à la fourniture d'un service expressément demandé par l'Utilisateur.
        <br><br>
        Le Site est conçu pour être attentif aux besoins des Utilisateurs. C’est pourquoi FitNow France utilise des cookies en vue d’optimiser la visite des Utilisateurs sur le Site.
        <br><br>
        Le Site utilise également des cookies, et notamment des cookies tiers, afin de présenter aux Utilisateurs des publicités qui leur sont adaptées.
        <br><br>
        Lorsque l’Utilisateur consulte le site FitNow (ci-après « le Site »), certaines informations relatives à la navigation de son appareil (ordinateur, tablette, smartphone, etc.) peuvent être enregistrées dans des fichiers dits « cookies ».
        <br><br>
        Ce site utilise des cookies. Les informations générées par l’utilisation des cookies permettent de rendre la navigation plus efficace et d’améliorer les services proposés. Ils permettent également de personnaliser le contenu, l’affichage, d’analyser le trafic et le comportement de l’utilisateur sur le site. Certains cookies sont utilisés afin de présenter à l’utilisateur de la publicité susceptible de l’intéresser lorsqu’il se rend sur des sites de partenaires. Certaines informations peuvent être partagées avec ces derniers à des fins marketing. L’utilisateur peut, à tout moment, retirer ou modifier son consentement, sauf pour les cookies strictement nécessaires.
        <br><br>
        Certains cookies sont strictement nécessaires au fonctionnement du Site et ne sont pas paramétrables. Tous les autres types de cookies ne seront déposés qu’après recueil du consentement.
        <br><br>
        Ce site utilise différents types de cookies, catégorisé de la façon suivante : nécessaires, préférences, statistiques, marketing. Certains cookies sont placés par l’éditeur du site et d’autres par ses fournisseurs/partenaires. Le dépôt et l'utilisation de cookies et autres traceurs déposés par ces derniers sont soumis à leurs propres conditions d’utilisation ou politiques de confidentialité, consultables en cliquant sur le nom du fournisseur figurant sur le tableau ci-après.
        <br><br>
        Dès la Déclaration relative aux cookies sur notre site, vous pouvez sélectionner vos paramètres. À tout moment, vous pouvez modifier ou retirer votre consentement en allant sur les mentions légales, rubrique cookies.
        <br><br>
        Votre consentement s'applique aux domaines suivants : fitnow.com
        <br><br>

        <b>Modalités de gestion des cookies</b>
        <br>
        La plupart des navigateurs acceptent les cookies par défaut. Cependant, vous pouvez refuser l’installation de cookies en sélectionnant les paramètres appropriés dans votre navigateur. Dans un tel cas, l’utilisation de certaines fonctionnalités du Site pourra être limitée.
        <br><br>

        <b>Pour les cookies de votre navigateur</b>
        <br>
        La configuration de chaque navigateur est différente.
        Pour en savoir plus et modifier les paramètres des cookies, l’Utilisateur peut consulter la rubrique aide de son navigateur.
        <br>
        <b>Pour Chrome :</b> <a href="https://support.google.com/chrome/answer/95647?hl=fr&hlrm=en">Cookies Chrome</a>
        <br>
        <b>Pour Edge :</b> <a href='https://privacy.microsoft.com/fr-fr/windows-10-microsoft-edge-and-privacy'> Cookies Edge</a>
        <br>
        <b>Pour Internet Explorer :</b> <a href="http://windows.microsoft.com/fr-FR/windows-vista/Block-or-allow-Cookies">Cookies Internet Explorer</a>
        <br>
        <b>Pour FireFox :</b> <a href="http://support.mozilla.org/fr/kb/cookies-informations-sites-enregistrent?redirectlocale=fr&redirectslug=G%C3%A9rer+les+cookies">Cookie Firefox</a>
        <br>
        <b>Pour Opéra :</b> <a href="http://help.opera.com/Windows/10.20/fr/cookies.html">Cookies Opéra</a>
        <br><br>

        <b>Plus d’informations sur les cookies</b>
        <br>
        Pour en savoir plus, la CNIL fournit des informations afin de comprendre, identifier, bloquer et supprimer les cookies et technologies de traçage : 
        https://www.cnil.fr/fr/maitriser-mes-donnees et https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser.
        <br><br>

        <b>SIGNALER UN ABUS</b>
        <br>
        L’Utilisateur est invité à contacter <b>FitNow</b>  s’il constate des comportements anormaux, activités illicites, contenus illicites.
        <br>
        Les abus sont à signaler par courriel à l’adresse suivante : <b>fitnow@gmail.com</b> en précisant le motif du signalement et en fournissant toutes les informations et justificatifs utiles à la bonne compréhension du motif et au traitement de la situation.
        <br><br>
        </div>

    {% endblock %}