{% extends 'base.html.twig' %}

{% block title %}Fitnow{% endblock %}
    {% block body %}
        <style>
            h1{
                letter-spacing: 0cm;
            }
        </style>
        <h1>FitNow  -  Mentions Légales </h1>
        <hr>


        <div>
        <p><b>1. IDENTITÉ</b></p>
        Le Site FitNow disponible à l’adresse suivante fitnow.com (ci-après dénommé le « Site ») est édité par FitNow, société par actions simplifiée au capital de 10000 euros, inscrite au registre du commerce et des sociétés de PARIS sous le numéro 834 267 072, dont le siège social est située à PARIS représentée par son Président, la société FitNow, société à responsabilité limitée dont le siège social est situé à Paris, immatriculée au registre de commerce et des sociétés de Romans sur Isère sous le numéro 0784904809.
        <br><br>

        <p><b>2. CONTACT</b></p>
        Tél. : 834 267 072
        Adresse e-mail : fitnow@gmail.com
        Page de contact : fitnow.com
        <br><br>
        
        <p><b>3. DIRECTEUR DE LA PUBLICATION</b></p>
        La société FitNow
        <br><br>

        <p><b>4. DÉLÉGUÉ À LA PROTECTION DES DONNÉES PERSONNELLES (DPO)</b></p>
        Monsieur Mathieu T. Chris B.
        <br><br>

        <p><b>5. HÉBERGEMENT</b></p>
        Le Site est hébergé par la société :  IONOS Inc. dont le siège social est situé 126 York Street Ottawa, ON K1N 5T5.
        Tél. (+001) 888-746-7439
        Contact : ionos@gmail.com
        <br><br>

        <p><b>6. PROPRIÉTÉ INTELLECTUELLE – LIENS HYPERTEXTES</b></p>
        <p>6.1 Propriété intellectuelle</p>
        La marque «FitNow » est une marque protégée et déposée auprès de l’INPI ; elle appartient à FitNow.
        <br>
        Le Site et tous les éléments qui le composent, notamment et sans que cette liste puisse être considérée comme exhaustive, l’ensemble des composants informatiques (logiciels, développements informatiques, pages Web, applications et fonctionnalités ainsi que des bases de données), la charte graphique (y compris les projets, maquettes, prototypes, plans et logos, marques), le contenu (notamment les éléments textuels, graphiques, sonores, photographiques, multimédias, fichiers, icônes du forum), les fonctionnalités, le noms de domaine, ainsi que l’ensemble des droits y afférents sont la propriété exclusive de FitNow et/ou utilisées par cette dernière avec l’accord des titulaires des droits de propriété intellectuelle correspondants.
        <br>
        Le Site et tous les éléments précités sont protégés par les dispositions du Code de propriété intellectuelle et de la législation applicable, pendant toute la durée de protection légale, et ce pour le monde entier.
        <br>
        Il est concédé aux utilisateurs du Site (ci-après désignés « les Utilisateurs ») un droit non-exclusif, non cessible et personnel deconsultation et visualisation du Site et des données contenues sur le Site pour un usage strictement privé. Le droit ainsi concédé consiste en :
        <ul>
            <li>un droit d’accès aux différentes pages du site et le cas échéant aux plateformes ;</li>
            <li>un droit de consulter en ligne les données et informations contenues sur le Site.</li>
        </ul>
        <br>
        Par conséquent, toute reproduction, représentation, utilisation, adaptation, modification, incorporation, traduction, extraction, diffusion, commercialisation, partielles ou intégrales, du Site, de ses éléments, des marques ou logos, par quelque procédé et sur quelque support que ce soit (papier, numérique, ...) à l’exception de celles expressément autorisées au titre des présentes sont interdites, sans l'autorisation écrite préalable de Fi Now ou des tiers titulaires des droits de propriété intellectuelle, sous peine de constituer des actes de contrefaçon de droit d'auteur et/ou de dessins et modèles et/ou de marques et base de données.
        <br>
        En particulier, tout usage non expressément autorisé du Site, de ces éléments, marques ou logos, qu’ils appartiennent à FitNow ou à des tiers, expose l’utilisateur du Site à des poursuites pénales et/ou civiles.
        <br>
        Toute personne souhaitant porter à la connaissance de FitNow la présence d’une information ou d’un contenu illicite, contrevenant en particulier aux droits de propriété intellectuelle d’un tiers ou contraire à une disposition législative ou réglementaire, peut le faire en adressant un e-mail circonstancié à l’adresse suivante : fitnow@gmail.com
        <br><br>

        <p>6.2 Liens Hypertextes</p>
        Le Site peut contenir des liens hypertextes et d’autres formats promotionnels (bannières, vidéos, …) pointant vers des ressources ou des sites internet gérés par des tiers, qui n’appartiennent pas ou qui ne sont pas contrôlés par FitNow.
        <br>
        FitNow n’exerce aucun contrôle sur le contenu ou les pratiques des sites internet tiers et décline toute responsabilité à cet égard. FitNow ne peut être tenue responsable de la licéité, l’exactitude, l’exhaustivité et la qualité du contenu de ces sites internet, et le fait que des informations sur ces sites figurent ou sont accessibles du Site, n’engage en aucun cas sa responsabilité.
        <br>
        Les Utilisateurs ne pourront en aucun cas mettre en place des liens hypertextes sur le Site, ni procéder à l’aspiration de tout ou partie des contenus de ces liens, sans autorisation expresse, écrite et préalable de FitNow.
        <br><br>
        </div>

    {% endblock %}