{% extends 'base.html.twig' %}

{% block title %}Fitnow{% endblock %}
    {% block body %}
        <style>
            h1{
                letter-spacing: 0cm;
            }
        </style>
        <h1>FitNow  -  Données Personnelles </h1>
        <hr>

        <div>
        <p><b>Collecte des données et finalités du traitement</b></p>
        Dans le cadre de l’exploitation du Site, FitNow, en qualité de responsable du traitement, est amenée à recueillir des informations (telle que l’adresse électronique des Utilisateurs) concernant les Utilisateurs des services FitNow proposés sur (ci-après « le Service »). La collecte de ces informations nominatives est nécessaire pour permettre le traitement des commandes et demandes, souscription de contrats, adresser des informations aux Utilisateurs, prospects ou clients et/ ou envoyer des informations relatives à des services ou offres de la société FitNow, ou du groupe de sociétés dont FitNow fait partie.
        <br>
        Ces informations sont également transmises aux seules sociétés concernées, c’est-à-dire aux sociétés du groupe de sociétés dont FitNow fait partie ainsi qu’aux autres sociétés impliquées dans la gestion et/ ou l’exécution des services ou du Service. Ces données pourront également être communiquées à des tiers pour satisfaire aux obligations légales et réglementaires de FitNow.
        <br>
        Afin de pouvoir bénéficier des services et assurer la gestion des dossiers des Utilisateurs un formulaire d’inscription est mis à disposition sur le Site. Il sera demandé l’adresse email de l’Utilisateur, son nom, son prénom et un mot de passe. D’autres données telles que le numéro de téléphone ou l’adresse postale seront obligatoires afin de procéder aux commandes de produits.
        <br>
        FitNow ne collecte ni ne sollicite intentionnellement de données personnelles concernant des personnes âgées de moins de 16 ans, pour les services non payants et 18 ans pour les services payants.
        <br>
        Ces informations sont confidentielles ; elles seront conservées dans des conditions conformes aux dispositions légales et réglementaires en vigueur, et ce pendant cinq ans (sous réserve des données nécessaires pour répondre à une obligation légale ou réglementaire qui pourraient être conservées le temps nécessaire à l’accomplissement de l’obligation en cause).
        <br>
        Les données personnelles collectées par FitNow peuvent être stockées et traitées en France ou plus largement en Europe.
        <br>
        <br>

        <p><b>Collecte des données et finalités du traitement</b></p>
        FitNow s’engage à prendre toutes les garanties afin d’assurer un niveau de protection suffisant des données personnelles. Elle met, à ce titre, en œuvre tous les moyens techniques et organisationnels pour assurer un niveau suffisant de sécurité des données, en fonction notamment des finalités du traitement et des risques associés.
        <br>
        FitNow met en place des mesures de protection permettant de réduire les risques de perte, d’altération, d'utilisation abusive, d'accès non autorisé, de divulgation et de modification ou de destruction des données.
        <br>
        Le traitement des données nominatives est réalisé conformément aux législations françaises et européennes relatives à la protection de la vie privée et des données personnelles en vigueur.
        <br>
        <br>

        <p><b>Accès et rectification des données personnelles et droit d’opposition</b></p>
        Conformément aux dispositions légales et réglementaires en vigueur sur la protection des données, l’Utilisateur bénéficie d’un droit d’accès, de rectification, de suppression et de limitation du traitement relatif à ses données sans frais ainsi qu’un droit d’opposition au traitement de ses données à caractère personnel, et un droit à la portabilité de ses données à caractère personnel.
        <br><br>

        L’utilisateur peut également :
        <ul>
            <li>
                demander à ce que les données le concernant soient complétées (si elles sont incomplètes) ou rectifiées (si elles sont inexactes). L’Utilisateur peut également mettre à jour son compte à tout moment en se connectant et en modifiant ses données personnelles d’inscription. L’Utilisateur peut demander la modification de ses coordonnées bancaires en écrivant à l’adresse électronique suivante : fitnow@gmail.com.
            </li>
            <li>
                s’opposer à tout moment sans frais, hormis ceux liés à la transmission du refus, au traitement des données le concernant en écrivant à l’adresse électronique suivante: fitnow@gmail.com.
            </li>
        </ul>
        <br>
        Dans le cas d’une demande de suppression ou de limitation du traitement des données, FitNow informe l’Utilisateur qu’il n’aura plus accès au Service et aux fonctionnalités correspondantes.
        <br><br>

        L’Utilisateur a également :
        <ul>
            <li>
                le droit à la portabilité de ses données, c'est-à-dire demander à de recevoir les données personnelles le concernant et qu’il a fournies à FitNow, dans un format structuré couramment utilisé et lisible par machine. L’Utilisateur pourra ainsi les stocker ou les transmettre facilement d’un système d’information à un autre, en vue de leur réutilisation à des fins personnelles ;
            </li>
            <li>
                le droit d’introduire une réclamation auprès de l’autorité de contrôle compétente (la CNIL) s’il considère que le traitement de ses données personnelles n'est pas conforme aux règles européennes ;
            </li>
            <li>
                le droit de définir des directives relatives au sort de ses données à caractère personnel après sa mort.
            </li>
        </ul>
        <br><br>

        Si l’Utilisateur souhaite exercer l’un de ces droits et/ou obtenir communication des informations le concernant, il doit s’adresser à FitNow, à l’adresse suivante : Service Administratif de FitNow à Paris, ou envoyer un e-mail en indiquant ses nom(s), prénom(s), coordonnées à l'adresse électronique suivante : fitnow@gmail.com.
        <br>
        Conformément aux dispositions légales en vigueur, FitNow fournira les informations et/ou les mesures prises à la suite de la demande formulée par l’Utilisateur dans les meilleurs délais et en tout état de cause dans un délai d’un mois à compter de la réception de la demande (ce délai peut être prolongé de deux mois au regard de la complexité de la demande ou du nombre de demandes traitées) ; l’Utilisateur en sera alors informé. En cas de refus d’accéder à la demande, FitNow informera l’Utilisateur des motifs de sa position et de la possibilité d'introduire une réclamation auprès d'une autorité de contrôle (CNIL) et de former un recours juridictionnel.
        <br>
        L'utilisateur reconnaît toutefois que FitNow ne peut garantir ni la confidentialité, ni l’effacement des données personnelles publiées ou communiquées par l’Utilisateur lui-même sur une partie publique du Site, notamment sur la communauté. Chaque Utilisateur est exclusivement responsable de toutes les conséquences liées à la publication volontaire d’informations personnelles, et notamment de leur adresse courriel ou de leur numéro de téléphone.
        <br>
        <br>

        <p><b>Contact</b></p>
        Pour toute question concernant la Politique ou le Service, l’Utilisateur peut nous contacter à l’adresse suivante : Service Qualité de FitNow.
        Paris, ou envoyer un e-mail en indiquant ses nom(s), prénom(s), coordonnées à l'adresse électronique suivante : fitnow@gmail.com
        Votre consentement s'applique aux domaines suivants : FitNow
        <br>
        <br>

        <p><b>Nécessaires</b></p>
        Cette catégorie de cookies est strictement nécessaire à l’utilisation et au fonctionnement du site. Les cookies dits « nécessaires » contribuent à rendre le site utilisable en activant les fonctionnalités indispensables (par exemple : utilisation du panier d'achat, accès sécurisé au compte client, paiement sécurisé, fonctionnement de la messagerie). Le site ne peut pas fonctionner correctement sans ces cookies. Ils ne sont pas paramétrables et ne peuvent pas être désactivés par le biais de cette boîte de dialogue. En revanche, ils peuvent être désactivés via le navigateur. Dans ce cas, le site ne pourra pas fonctionner correctement.
        <br><br>
        </div>
    {% endblock %}